@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@500;600;700&family=Lobster&display=swap');

*{
    font-family: 'Lobster', cursive;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: rgb(104, 98, 19);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px ;
    background: url(photos/paga.jpg);
}


.g1{
    color: black;
    font-size: 2.5em;
    text-decoration: none;
}

.g2{
    color: black;
    padding-left: 35px;
    font-size: 2em;
    text-decoration: none;
}
.g3{
    color: black;
    padding-right: 0.1em;
    font-size: 2em;
    text-decoration: none;


}
.t1 a:hover{
    color: aliceblue;
}
.t1 a{
    padding-left: 35px;
}
.ba3{
    padding: 100px 90px;
    width: 100%;
    min-height: 100vh;
    background: url(photos/mohima.jpg);
}
h1{
    color: rgb(0, 0, 0);
    font-size: 4em;
    padding-top: 15em;
    text-align: center;
    text-decoration: underline;
}
h2{
    color: black;
    font-size: 4em;
    text-align: center;
}
.haha{
    color: rgb(0, 0, 0);
    padding-left: 2em;
    font-size: 4em;
    text-align: center;
   

}
h4{
    color: black;
    text-align: center;
    font-size: 4em;
    padding-top: 2em;
}
h5{
    color: black;
    font-size: 3em;
    text-align: center;
}
h6{
    color: black;
    font-size: 3em;
    text-align: center;
}